= provide(:title, 'About Us')

.page-header
  %h1
    About Us

%table{:width => '100%'}
  %tr
    %td{:width => '25%'}
      = image_tag 'minnie.png', :width => '200px'
    %td{:width => '25%', :valign => 'top'}
      %h2 
        Minnie
      %br 
      %ul 
        %li Birthday: April 22
        %br 
        %li Astrological Sign: Taurus
        %br 
        %li Favorite food: Pork chop
        %br 
        %li Favorite spot: Beside the air conditioner vent
    %td{:width => '25%'}
      = image_tag 'mikey.png', :width => '200px'
    %td{:width => '25%', :valign => 'top'}
      %h2 
        Mikey 
      %br 
      %ul.big
        %li Birthday: April 22
        %br 
        %li Astrological Sign: Taurus
        %br 
        %li Favorite food: Popsicle
        %br 
        %li Favorite spot: In the shade under trees

  %tr
    %td{:width => '25%'}
      = image_tag 'johnny.png', :width => '200px'
    %td{:width => '25%', :valign => 'top'}
      %h2 
        Johnny
      %br 
      %ul 
        %li Birthday: May 24
        %br 
        %li Astrological Sign: Gemini
        %br 
        %li Favorite food: Chicken pizza
        %br 
        %li Favorite spot: In bed with Daddy
    %td{:width => '25%'}
      = image_tag 'daisy.png', :width => '200px'
    %td{:width => '25%', :valign => 'top'}
      %h2 
        Daisy 
      %br 
      %ul 
        %li Birthday: July 01
        %br 
        %li Astrological Sign: Cancer
        %br 
        %li Favorite food: Ribs 
        %br 
        %li Favorite spot: On Mommy's lap 

  %tr
    %td{:width => '25%'}
      = image_tag 'bitzy.png', :width => '200px'
    %td{:width => '25%', :valign => 'top'}
      %h2 
        Bitzy
      %br 
      %ul 
        %li Birthday: November 29
        %br 
        %li Astrological Sign: Sagittarius
        %br 
        %li Favorite food: Ground beef 
        %br 
        %li Favorite spot: Beside Daddy 
    %td{:width => '25%'}
      = image_tag 'casper.png', :width => '200px'
    %td{:width => '25%', :valign => 'top'}
      %h2 
        Casper
      %br 
      %ul 
        %li Birthday: January 01
        %br 
        %li Astrological Sign: Capricorn
        %br 
        %li Favorite food: Fruit salad
        %br 
        %li Favorite spot: Under anything or beside Mommy

%p
&nbsp;
%p
= link_to 'Back to Home', root_path
