= provide(:title, 'Edit Panel') 

.page-header
  %h1
    Edit Panel

.pull-right
  = link_to 'Show Panel', admin_comic_panel_path( @comic, @panel )
  &nbsp;
  &nbsp;
  = link_to 'Back to Comic Details', admin_comic_path( @comic )
%p
%br
%br

= simple_form_for( [:admin, @comic, @panel] , :html=>{:class=>'form-horizontal'} ) do |f| 
  = f.error_notification 
  = render :partial => 'form', :locals=>{:f=>f}
