= provide(:title, 'Show Panel') 

.page-header
  %h1
    Panel Details

.pull-right
  = link_to 'Edit Panel', edit_admin_comic_panel_path( @comic, @panel )
  &nbsp;
  &nbsp;
  = link_to 'Back to Comic Details', admin_comic_path( @comic )
%p
%br
%br

%p
  %b
    Order:
%p
= @panel.order_id

%p
%br
  %b
    Image:
%p
= image_tag @panel.image.url(:medium)

