= provide(:title, 'New Comic') 

.page-header
  %h1
    Create New Comic

.right
  = link_to 'Back to Comics Listing', admin_comics_path 
%p
%br
%br

= simple_form_for([:admin, @comic]) do |f| 
  = f.error_notification 
  = render :partial => 'form', :locals=>{:f=>f}

